<div id="page">
    <div id="content"></div>
</div>
<div id="scroll_content">
    <div class="middle_top">
        <div class="first_benefit benefit">
            <h2>Zaoszczedzilismy met, consectetuer adipiscing elit, sed diam nonummy nibh
                euismod</h2>
        </div>
        <div class="second_benefit benefit">
            <h2>Zaoszczedzilismy met, consectetuer adipiscing elit, sed diam</h2>
        </div>
        <div class="third_benefit benefit">
            <h2>Zaoszczedzilismy met, consectetuer adipiscing elit, sed diam</h2>
        </div>
        <div class="fourth_benefit benefit">
            <h2>Zaoszczedzilismy met, consectetuer adipiscing elit, sed diam</h2>
        </div>
        <div class="fifth_benefit benefit">
            <h2>Zaoszczedzilismy met, consectetuer adipiscing elit, sed diam</h2>
        </div>
    </div>
    <div class="middle_bottom">
        <div class="articles">
            <h1>Artykuły</h1>
            <br>
            <ul>
                <li>
                    <a href="http://sport.wp.pl/lbid,5852,title,Soczi-2014-dzien-11,nazywo.html?ticaid=11239b&_ticrsn=3"
                       target="_blank">
                        <h3>Wypadek w Sochi</h3></a>
                    <a href="#/artykul">
                        <footer>Komentarze</footer>
                    </a>
                </li>
                <li>
                    <a href="http://sport.wp.pl/lbid,5852,title,Soczi-2014-dzien-11,nazywo.html?ticaid=11239b&_ticrsn=3"
                       target="_blank">
                        <h3>Wypadek w Sochi</h3></a>
                    <a href="#/artykul">
                        <footer>Komentarze</footer>
                    </a>
                </li>
                <li>
                    <a href="http://sport.wp.pl/lbid,5852,title,Soczi-2014-dzien-11,nazywo.html?ticaid=11239b&_ticrsn=3"
                       target="_blank">
                        <h3>Wypadek w Sochi</h3></a>
                    <a href="#/artykul">
                        <footer>Komentarze</footer>
                    </a>
                </li>
                <li>
                    <a href="http://sport.wp.pl/lbid,5852,title,Soczi-2014-dzien-11,nazywo.html?ticaid=11239b&_ticrsn=3"
                       target="_blank">
                        <h3>Wypadek w Sochi</h3></a>
                    <a href="#/artykul">
                        <footer>Komentarze</footer>
                    </a>
                </li>
                <li>
                    <a href="http://sport.wp.pl/lbid,5852,title,Soczi-2014-dzien-11,nazywo.html?ticaid=11239b&_ticrsn=3"
                       target="_blank">
                        <h3>Wypadek w Sochi</h3></a>
                    <a href="#/artykul">
                        <footer>Komentarze</footer>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="mastfoot"><span>Proudly made by <a href="http://danat.dk/" target="_blank">Lusia</a></span></div>
